body,
html {
  height: 100%;
  margin: 2px;

}

.container {
  text-align: center;
  height: 100%;
  padding: 3px;
  box-sizing: border-box;
 
}


.header {
  background-color: #ffffff;
  grid-column: 2/ 3;
    grid-row: 1 / 2;
  height: 100%;
  
}

.dashboard {
  background-color: #1a9ae9;
  grid-row: 1 / 3;
  height: 100%;
  color: white;
  text-align: left;
  
   
}



.article {
  background-color: #bef1f5;
  height: 100%;
  grid-row: 2/ 3;
  grid-column: 2 / 4;
  

}


.footer {
  background-color: #ffffff;
  grid-column: 3 / 4;
  grid-row: 1/2;
  height: 100%;
  
  
}

.container {
  display: grid;
  grid-template-columns: 15em 1fr 20em;
  grid-template-rows: 5em 1fr;
  gap: 0px;
  font-family: my-cool-font;

}

.containerb {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #bef1f5;
    align-items: center;
    gap: 4px;
    font-family: my-cool-font;
    
    
     
  }

  .article1 {
   height: 9em;
   align-content: center;
   border-left: 10px #f5f23d;
   border-style: solid;
   border-right: white;
    border-top: white;
    border-bottom: white;
    grid-row: 1/ 3;
   grid-column: 1 / 2;
   border-radius: 10px;
   margin-left: 10px;
   background-color: white;
   margin-top: 2em;
  
  }

  .article2 {
    height: 9em;
    align-content: center;
    border-left: 10px #f5f23d;
    border-style: solid;
    border-right: white;
     border-top: white;
     border-bottom: white;
     grid-row: 1/ 3;
     grid-column: 2 / 3;
     border-radius: 10px;
     background-color: white;
     margin-top: 2em;
     
   }

    .article3 {
     height: 9em;
     align-content: center;
     border-left: 10px #f5f23d;
     border-style: solid;
     border-right: white;
      border-top: white;
      border-bottom: white;
      grid-row: 3/ 5;
      grid-column: 1 / 2;
      border-radius: 10px;
      margin-left: 10px;
      background-color: white;
    
    }

    .article4 {
      height: 9em;
      align-content: center;
      border-left: 10px #f5f23d;
   border-style: solid;
   border-right: white;
    border-top: white;
    border-bottom: white;
       grid-row: 3/ 5;
       grid-column: 2/ 3;
       border-radius: 10px;
       background-color: white;
     
     }

     .article5 {
      height: 9em;
      align-content: center;
      border-left: 10px #f5f23d;
   border-style: solid;
   border-right: white;
    border-top: white;
    border-bottom: white;
       grid-row: 5/ 7;
       grid-column: 1 / 2;
       border-radius: 10px;
       margin-left: 10px;
       background-color: white;
     
     }

     .article6 {
      height: 9em;
      align-content: center;
      border-left: 10px #f5f23d;
   border-style: solid;
   border-right: white;
    border-top: white;
    border-bottom: white;
       grid-row: 5/ 7;
       grid-column: 2 / 3;
       border-radius: 10px;
       background-color: white;
     
     }



     .article7 {
      height: 14em;
      align-content: center;
      

       grid-row: 1/ 4;
       grid-column: 3/ 4;
       border-radius: 10px;
       background-color: white;
       margin-left: 2em;
       margin-right: 2em;
     
     }

     .article8 {
      height: 14em;
      align-content: center;
      grid-row: 4/ 7;
       grid-column: 3/ 4;
       border-radius: 10px;
       background-color: white;
         margin-left: 2em;
         margin-right: 2em;
         
     
     }

     @font-face {
        font-family: my-cool-font;
        src: url(font/rubik-bold.woff2);
        font-size: large;
        font-weight: bold;
      }

      .filter-white{
         filter:invert(100%) sepia(0%) saturate(7489%) hue-rotate(190deg) brightness(105%) contrast(102%);
      }


    
    
   

